<h1>Список заказов</h1>
<input *ngIf="tableMode" type="button" value="Добавить" class="btn btn-primary" (click)="addOrEdit(true)" />
<table *ngIf="tableMode; else createOrEdit" class="table table-striped">
    <thead>
        <tr>
            <td>Заказчик</td>
            <td>Контактный номер</td>
            <td>Дата создания заказа</td>
            <td>Время подачи авто</td>
            <td>Откуда</td>
            <td>Куда</td>
            <td>Стоимость</td>
            <td>Статус</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of orders">
            <ng-template [ngIf]="order?.orderId != o.orderId" [ngIfElse]="edit">
                <td>{{o.fullName}}</td>
                <td>{{o.contactNumber}}</td>
                <td>{{o.orderDate | date:'dd.MM.yyyy HH:mm'}}</td>
                <td>{{o.carDeliveryTime | date:'dd.MM.yyyy HH:mm'}}</td>
                <td>{{o.fromLocation}}</td>
                <td>{{o.toLocation}}</td>
                <td>{{o.cost.toFixed(2)}}</td>
                <td>{{status[o.status]}}</td>
                <td>
                    <ng-template [ngIf]="o.status !== 3">
                        <button class="btn btn-sm btn-primary" (click)="editOrder(o)">Изменить</button>
                        <button class="btn btn-sm btn-danger" (click)="cancelOrder(o)">Отменить</button>
                        <button *ngIf="this.authService.isUserAdmin() && o.status !== 1" class="btn btn-sm btn-primary" (click)="confirmOrder(o)">Подтвердить</button>
                    </ng-template>
                    <button *ngIf="this.authService.isUserAdmin()" class="btn btn-sm btn-danger" (click)="delete(o)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<ng-template #createOrEdit>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="errorMessage"></span>
    </div>
    <div class="form-group">
        <label>ФИО</label>
        <input type="text" [(ngModel)]="order.fullName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Номер телефона</label>
        <input type="text" [(ngModel)]="order.contactNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Откуда</label>
        <input type="text" [(ngModel)]="order.fromLocation" class="form-control" />
    </div>
    <div class="form-group">
        <label>Куда</label>
        <input type="text" [(ngModel)]="order.toLocation" class="form-control" />
    </div>
    <div class="form-group">
        <label>Когда</label>
        <input type="datetime-local" [value]="carDeliveryTimeToISO()" (change)="order.carDeliveryTime=test($event)" class="form-control" />
    </div>
    <div>
        <label>Стоимость</label>
        <input type="text" [readonly]="true" [value]="order?.cost?.toFixed(2)" class="form-control" />
    </div>
    <br />
    <div>
        <input [disabled]="!costCalculated" type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
        <input type="button" value="Предварительный расчет" (click)="calculate()" class="btn btn-warning" style="width: 250px" />
    </div>
</ng-template>