<ul class="navbar-nav" *ngIf="isUserAuthenticated">
    <li class="nav-item">
        <a  class="nav-link text-dark" [routerLink]='["/"]' [state]='{ local: true }' (click)="logout()" title="Logout">Выйти</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isUserAuthenticated)">
  <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Зарегистрироваться</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Войти</a>
    </li>
</ul>
